{% extends 'main.html' %} {% block content %} 
{% load static %}


<body>
    <!-- START THE NAVBAR -->


      <!-- START INTRO SECTION -->

      <section id="home" class="intro-section">
        <div class="container">
          <div class="row align-items-center text-white">
            <!-- FOR INTRO -->

            <div class="col-md-6 intros text-center mt-0">

              <h1 class="display-2">
                <span style="font-size: 50px;" class="display-2--intro">Startup India</span>
                <span style="font-size: 24px; margin-bottom: 15px;" class="display-2--description lh-base" >We are a technology first platform that make investing in startups secure, private, personalized & easy to use. India’s Leading Early Stage platform for startup investing - trusted by founders & investors. Raise funding seamlessly. Find startups to invest in.</span>
              </h1>
              <a href="{% url 'home' %}" target="_blank">
              <button type="button" class="rounded-pill btn-rounded" id="inst">Submit yout idea</button>
            </a>
            </div>

            <!-- START CONTENT FOR VID -->
            <div class="col-md-6 intros text-end">
              <div class="video-box">

                <img src={% static 'images/image2.png' %} alt="video illustration" class="img-fluid">
                <a href="#" class="glightbox">
                  <!-- <span>
                    <i class="fas fa-play-circle"></i>
                  </span> -->
                  <!-- <span class="border-animation border-animation--border-1"></span>
                  <span class="border-animation border-animation--border-2"></span> -->
                </a> 
              </div>
            </div>
          </div>
        </div>

      </section>

      <!-- COMPANIESSSSSS -->


      <section id="companies" class="companies">
        <div class="container">
          <div class="row text-center">
          <h2 style="font-size: 40px;" class="fw-bold lead mb-3" id="okbhai">Promoter and Patrons</h2>
          <div class="heading-line mb-5 text-center"></div>
          </div>
        </div>

        <!-- PLAYERS -->
        <div class="container ">
          <div class="row">
            <div class="col-md-5 col-lg-3">
              <div style="height: 200px;" class="companies__logo-box shadow-sm"><img src={% static 'images/i1' %} alt="Player 1 logo" title="Angel List" class="img-fluid"></div>
            </div>

            <div class="col-md-5 col-lg-3">
              <div style="height: 200px;"  class="companies__logo-box shadow-sm"><img src={% static 'images/i3' %} alt="Player 3 logo" title="Better" class="img-fluid"></div>
            </div>
            <div class="col-md-5 col-lg-3">
              <div style="height: 200px;" class="companies__logo-box shadow-sm"><img src={% static 'images/i4' %} alt="Player 4 logo" title="3one4 Capital" class="img-fluid"></div>
            </div>
            <div class="col-md-5 col-lg-3">
              <div style="height: 200px;" class="companies__logo-box shadow-sm"><img src={% static 'images/i5' %} alt="Player 5 logo" title="Accel" class="img-fluid"></div>
            </div>

          </div>
        </div>

       <div class="container">
          <div class="row text-center">
          <h2 style="font-size: 40px;" class="fw-bold lead mb-3" id="okbhai">Partnered with the best founders in their fundraise journey. At Every Stage. </h2>
          <div class="heading-line mb-5 text-center"></div>
          </div>
        </div>

        

    <div class="container">
      <div class="container ">
        <div class="row">
          <div class="col-md-6 col-lg-4 shadow-sm board ">
            <div style="height: 300px; margin-left: 20px;" class=" companies__logo-box hover-shadow mask"><img src={% static 'images/inves_1.jpg' %}
                class="img-fluid" alt="Player 1 logo" title="Sugar Cosmetics"></div>
            <div class="caption text-center fw-bold">Vineeta Singh & Kaushik Mukherjee</div>
            <div class="caption text-center mt-3">Sugar Cosmetics</div>
          </div>
          <div class="col-md-6 col-lg-4 shadow-sm board ">
            <div style="height: 300px; margin-left: 20px;" class=" companies__logo-box hover-shadow mask"><img src={% static 'images/inves_2.jpg' %}
                class="img-fluid" alt="Player 1 logo" title="KhataBook"></div>
            <div class="caption text-center fw-bold">Ravish Naresh</div>
            <div class="caption text-center mt-3">KhataBook</div>
          </div>
          <div class="col-md-6 col-lg-4 shadow-sm board ">
            <div style="height: 300px; margin-left: 20px;" class=" companies__logo-box hover-shadow mask"><img style=" border-color: #04414d;" src={% static 'images/inves_3.jpg' %}
                class="img-fluid" alt="Player 1 logo" title="Saroja Yeramalli"></div>
            <div class="caption text-center fw-bold">Saroja Yeramalli</div>
            <div class="caption text-center mt-3">Melorra</div>
          </div>

        </div>
      </div>

      </section>

      <!-- SIUUUUUUUUUUUUUUUU -->
        <section id="services" class="services">
     
      





          <!-- START THE DESCRIPTION -->
  
            <div class="row pt-2 pb-2 mt-0 mb-3">
              <div class="col-md-6 border-right">
          
              <div class="p-lg-5">
                <h2 style="font-size: 40px ; margin-left: 30px;" class="fw-bold text-capitalize text-center">
                We are a technology first platform that make investing in startups secure, private, personalized & easy to use.
                 </h2>
                </div>
               </div>
               <div class="col-md-6">
                <div class=" pl-lg-5 text-start" style="margin-top: 80px; margin-left: 20px;">
                  <p style="font-size: 50px;" class="fw-light">
                    Connect. Disrupt. Grow.
                  
                  </p>
                </div>
              </div>
            </div>
          </div>
         








          <!-- START THE CONTENT FOR THE SERVICES -->
          <div class="container">






            <!-- MARKETING -->
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4">
                <div class="services__content">
                  <div class="icon d-block fas fa-paper-plane"></div>
                    <h2 style="font-size: 40px; margin-bottom: 20px;" class="display-3--title mt-1">Investors from 60 countries investing via the Startup India technology platform.</h2>
                    <div style="font-size: 20px;" class="lh-lg">

                      <span style="padding-right: 70px;">
                        India
                      </span>
                      <span style="padding-right: 10px;">
                        Singapore
                      </span>
                    </div>
                    <div style="font-size: 20px;" class="lh-lg">

                      <span style="padding-right: 76px;">
                        UAE
                      </span>
                      <span style="padding-right: 10px;">
                        USA
                      </span>
                    </div>
                    <div style="font-size: 20px;" class="lh-lg">

                      <span style="padding-right: 87px;">
                        UK
                      </span>
                      <span style="padding-right: 10px;">
                        Germany
                      </span>
                    </div>

                  </div> 
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4 text-center">
                  <div style="margin-top: 40px;" class="services__pic">
                    <img  src={% static 'images/map6.png' %} alt="marketing" class="img-fluid">
                </div>
              </div>
            </div>








            <!-- WEB DEV
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4 text-center">
                <div class="services__pic">
                  <img src="images/mid/2.png" alt="marketing" class="img-fluid">
              </div>
            </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4">
                <div class="services__content">
                  <div class="icon d-block fas fa-code"></div>
                  <h3 class="display-3--title mt-1">Web Dev</h3>
                  <p class="lh-lg">
                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa eaque voluptatem neque blanditiis exercitationem aperiam quaerat. Blanditiis, maxime. Non dolorem saepe voluptas quasi rem libero, sunt, eveniet laboriosam velit quidem ut illo quod inventore!
                  </p>
                  <button type="button" class="rounded-pill btn-rounded beer">Learn More<span><i class="fas fa-arrow-right"></i></span></button>
                </div>
              </div>
            </div> -->










            <!-- CLOUD HOSTING -->
            <!-- <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4">
                <div class="services__content">
                  <div class="icon d-block fas fa-cloud-upload-alt"></div>
                  <h3 class="display-3--title mt-1">Cloud Hosting</h3>
                  <p class="lh-lg">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eaque doloremque recusandae porro incidunt! Incidunt non, numquam excepturi sunt vitae blanditiis ad ipsum earum mollitia. Sequi, quas illum cupiditate sed vel placeat rem eum nihil iusto laborum?
                  </p>
                  <button type="button" class="rounded-pill btn-rounded beer">Learn More<span><i class="fas fa-arrow-right"></i></span></button>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4 text-center">
                <div class="services__pic">
                  <img src="images/mid/3.png" alt="marketing" class="img-fluid">
              </div>
            </div>
          </div> -->
          </div>
        </section>




        <!-- TESTIMONIALS  -->



  <footer class="footer footer2 text-white" style="background-color: #212121; ">




    <!-- Copyright -->
    <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
          <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-flex">
          <div class="contact-box__icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-call" viewBox="0 0 24 24"
              stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
              <path d="M15 7a2 2 0 0 1 2 2" />
              <path d="M15 3a6 6 0 0 1 6 6" />
            </svg>
          </div>
          <div style="margin-left: 90px;" class="contact-box__info">
            <a style= 'font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";' href="#" class="cbit">022-45612389</a>
            <p class="cbs" style='color:gray !important; font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; '> Mon-Fri 9am-6pm</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-flex">
          <div class="contact-box__icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail-opened" viewBox="0 0 24 24"
              stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <polyline points="3 9 12 15 21 9 12 3 3 9" />
              <path d="M21 9v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10" />
              <line x1="3" y1="19" x2="9" y2="13" />
              <line x1="15" y1="13" x2="21" y2="19" />
            </svg>
          </div>
          <div style="margin-left: 97px;" class="contact-box__info">
            <a style= 'font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";' href="#" class="cbit">info@startupindia.com</a>
            <p class="contact-box__info--subtitle" style='color:gray !important; font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; '>E-mail</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-flex">
          <div class="contact-box__icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-2" viewBox="0 0 24 24"
              stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <line x1="18" y1="6" x2="18" y2="6.01" />
              <path d="M18 13l-3.5 -5a4 4 0 1 1 7 0l-3.5 5" />
              <polyline points="10.5 4.75 9 4 3 7 3 20 9 17 15 20 21 17 21 15" />
              <line x1="9" y1="4" x2="9" y2="17" />
              <line x1="15" y1="15" x2="15" y2="20" />
            </svg>
          </div>
          <div style="margin-left: 90px;" class="contact-box__info">
            <a style= 'font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";' href="#" class="cbit">Mumbai, IN</a>
            <p class="contact-box__info--subtitle" style='color:gray !important; font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; '>Headquarters</p>
          </div>
        </div>




      </div>
    </div>
      © 2022 Copyright:
      <a style= 'font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";' class="text-white" href="https://mdbootstrap.com/">Startup India</a>
    </div>
    <!-- Copyright -->
  </footer>























      <script src="/assets/vendors/js/glightbox.min.js"></script> 
      <script type="text/javascript">
        const lightbox = GLightbox({
          'href': 'https://youtu.be/iJKCj8uAHz8',
          'type': 'video',
          'source': 'youtube', //vimeo, youtube or local
          'width': 900,
          'autoPlayVideos':'true',
        });

        </script>
    <script src="assets/js/bootstrap.bundle.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> -->




</body>
</html>



{% endblock content %}